
<!DOCTYPE html>
 <!-- test -->
<html ng-app="app" flow-init>
<head>
    <title>Download url</title>
    <script src="js/angular.min.js"></script>
    <script src="dist/ng-flow-standalone.js"></script>
    <script src="dist/flow.js"></script>
    <script src="dist/fusty-flow.js"></script>
    <script src="dist/fusty-flow-factory.js"></script>
    <script src="dist/ng-flow.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/jcarousel.basic.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/leaflet-locationpicker.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="app.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src=" js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="js/exif.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script type="text/javascript" src="js/leaflet-locationpicker.js"></script>

    <script type="text/javascript" src="zip.js"></script>
    <style type="text/css">
        td {
            text-align: left;
            vertical-align: middle;
            width: 125px;
            height: 117px;
        }
    </style>

</head>


<body ng-controller="ibeisCtrl">
    <!-- The file upload form used as target for the file upload widget -->

    <div class="col-xs-12 col-sm-3 col-lg-3">
        <form id="fileupload" style="border-right: 2px solid #333;height:1000px;">
            <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <a href="index.html"><img class="logo" src="img/logo_site.png"></a><br />
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-lg btn-default" ng-click="turnOnSelectImages()" >
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>
                    ADD IMAGES
                </span>
                <!-- <input type="file" name="files[]" class="upload" > -->
            </span>
            <button  id="selectImage" class="btn btn-lg btn-success" disabled ng-click="ImportImages()">
                <i class="glyphicon glyphicon-circle-arrow-down"></i>
                <span>
                    SELECT IMAGES
                </span>
            </button>
            <button   class="btn btn-lg"  id="Time" disabled data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-globe"></i>
                <span>
                   TIME &amp; PLACE
                </span>
            </button>
            <button type="submit" class="btn btn-lg btn-primary" ng-click="" id="AboutYou" >
                <i class="glyphicon glyphicon-user"></i>
                <span>
                    ABOUT YOU
                </span>
            </button>
            <button type="submit" class="btn btn-lg btn-primary" ng-click="" id="Submit" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>
                    SUBMIT
                </span>
            </button>

            <!--<span class="select">
                <b>
                    DETECT ANIMALS
                </b>
            </span>s
            <select type="reset" class="btn btn-lg btn-default select" disabled>
                <option class="select">
                    ZEBRA
                </option>
                <option class="select">
                    ELEPHANT
                </option>
                <option class="select">
                    TIGER
                </option>
            </select>
            <button type="reset" class="btn btn-lg btn-clear detect" disabled>
                <i class="glyphicon glyphicon-check"></i>
                <span>
                    DETECT
                </span>
            </button>-->


        </form>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-8">
        <!--<button style="position: absolute;top: -8%;left: 100%;" class="btn btn-sm btn-primary"
                  ng-click="stuffStuff()">
            Zebra Locations
        </button>-->
        <!--<div class="dropdown">-->
            <!--<button style="position: absolute;top: -8%;left: 100%;"-->
                    <!--class="btn btn-sm btn-primary dropdown-toggle"-->
                    <!--type="button" id="dropdownMenu1" data-toggle="dropdown"-->
                    <!--aria-haspopup="true" aria-expanded="true">-->
                <!--View-->
                <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->

                <!--<li ng-click="imageStuff()">Grid</li>-->
                <!--<li ng-click="getTableImage()">List</li>-->
                <!--<li ng-click="mapStuff()">Map</li>-->
            <!--</ul>-->
        <!--</div>-->

        <div id="gridDisplay">
            <ul ng-repeat="items in imgs" ng-hide="removeImages">
                <!--<li id="{{$index}}">-->
                    <div class="col-sm-3 col-lg-3" id="detail-image">
                        <img class="img-thumbnail col-sm-3 col-lg-3" style="width:180px;height:140px;padding:2px 2px; margin:3px 3px;" ng-src="{{items}}">
                        <!--<button href="#" class="btn btn-danger" role="button" ng-click="hideStuff($index)">-->
                            <!--remove-->
                        <!--</button>-->
                    </div>
                </li>
            </ul>
        </div>
        <div id="tableDisplay" style="display:none">
            <div class="col-sm-4" style="padding-right: 0;padding-left: 5px;">
                <table class="table table-striped">
                    <tr><th style="padding: 5px 5px;">Image</th></tr>
                    <tr ng-repeat="items in imgTable.img">
                        <td style="text-align :left;vertical-align: middle;">
                            <img class="img-thumbnail" style="width: 125px;height: 100px; padding-right: 0;" ng-src="{{items}}">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4" style="padding-right: 0;padding-left: 0;">
                <table class="table table-striped">
                    <tr><th style="padding: 5px 5px;">Image Name</th></tr>
                    <tr ng-repeat="itemsName in imgTable.imageName  track by $index">
                        <td style="text-align :left;vertical-align: middle;width: 125px;height: 117px; "><span>{{itemsName}}</span> </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4" style="padding-right: 0;padding-left: 0;">
                <table class="table table-striped">
                    <tr><th style="padding: 5px 5px;">GPS Location</th></tr>
                    <tr ng-repeat="itemsGPS in imgTable.imageGPS">
                        <td style="text-align :left;vertical-align: middle;width: 125px;height: 117px;"><span>{{itemsGPS}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="map_content" style="display:none;">
            <div id="map" style="width: 100%; height: 465px;"></div>
        </div>
        <div id="image_content" style="display:none;">
            <div flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                <div id="drag" class="drop" flow-drop ng-class="dropClass">
                    <span class="btn btn-default"><input  flow-btn id="filesinput" type="file">Upload Image</span>
                    <span class="btn btn-default"><input  flow-btn type="file" id="directoryinput" multiple webkitdirectory>Upload Folder</span>
                    <span class="btn btn-default"><input class="btn btn-default"  type="file" accept="application/zip" id="zipinput" >Upload Zip Folder</span>
                    <b>OR</b>
                    Drag And Drop your images here
                </div>
                <div><a style="padding: 10px 35px !important; display: inline-block;margin-left: 15px;" class="btn btn-danger" id="cancelAll"
                        ng-click="$flow.cancel()">Remove All</a></div>
                <br />
                <div class="col-sm-12 col-lg-11">

                   <div ng-repeat="file in $flow.files" class="gallery-box">
                       <div class="target-image">
                           <input class="checkbox" type="checkbox"/>
                           <div ng-show="$flow.files.length">
                               <img flow-img="file" />
                           </div>
                           <input  placeholder="Name: {{file.name}}" type="text" name="{{file.name}}"/>
                           <input  placeholder="Date: {{file.lastModifiedDate}}" type="text" name="date"/>
                           <div>
                               <input class="geoloc" id="{{$index}}" ng-click="chooseLocation()"type="text" placeholder="48.922499,-88.945313" val=""/>
                           </div>

                       </div>
                   </div>
                    <script type="text/javascript"> $('#geoloc').leafletLocationPicker();</script>
            </div>

                <div class="col-lg-1  pull-right" id="selectAllImages">
                    <button class="btn btn-primary btn-select" ng-click="selectAll()">Select All</button>
                    <button class="btn btn-danger btn-select"  ng-click="deselectAll()">Deselect All</button>
                    <button class="btn btn-warning btn-select" ng-click="removeSelected()">Remove Selected Images</button>
                </div>
        </div>
        </div>
        <div class="col-lg-2 col-sm-2 pull-right" style="position: absolute;right: 0;">
            <div class="location col" style="display:none">
                    <input class="getlocs" type="text" val="" placeholder="pick your location"/>
                <script type="text/javascript"> $('.getlocs').leafletLocationPicker();</script>
            </div>
        </div>
            <script type="text/javascript" src="upload.js"></script>
     </div>
    <div class="wrapper">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Location</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-6">
                            <input id="getloc" type="text" val="" placeholder="pick your location"/>
                        </div>
                        <script type="text/javascript"> $('#getloc').leafletLocationPicker();</script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ApplyLocation()">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>