
<!DOCTYPE html>
 <!-- test -->
<html ng-app="app" flow-init>
<head>
    <title>Download url</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="dist/ng-flow-standalone.js"></script>
    <script src="dist/flow.js"></script>
    <script src="dist/fusty-flow.js"></script>
    <script src="dist/fusty-flow-factory.js"></script>
    <script src="dist/ng-flow.js"></script>
    <script src="dist/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="app.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="js/exif.js"></script>
    <script type="text/javascript" src="zip.js"></script>
</head>


<body ng-controller="ibeisCtrl">
    <!-- The file upload form used as target for the file upload widget -->
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <form id="fileupload" style="border-right: 2px solid #333">
            <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <a href="index.html"><img class="logo" src="img/logo_site.png"></a><br />
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-lg btn-default" ng-click="ImportImages()">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>
                    IMPORT IMAGES
                </span>
                <!-- <input type="file" name="files[]" class="upload" > -->
            </span>
            <button type="submit" class="btn btn-lg btn-primary" ng-click="submitStuff()" id="submitImages" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>
                    SUBMIT IMAGES
                </span>
            </button>
            <button type="reset" class="btn btn-lg btn-warning" id="cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>
                    CANCEL
                </span>
            </button>


            <!--<span class="select">
                <b>
                    DETECT ANIMALS
                </b>
            </span>
            <select type="reset" class="btn btn-lg btn-default select" disabled>
                <option class="select">
                    ZEBRA
                </option>
                <option class="select">
                    ELEPHANT
                </option>
                <option class="select">
                    TIGER
                </option>
            </select>
            <button type="reset" class="btn btn-lg btn-clear detect" disabled>
                <i class="glyphicon glyphicon-check"></i>
                <span>
                    DETECT
                </span>
            </button>-->


        </form>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-8">
        <!--<button style="position: absolute;top: -8%;left: 100%;" class="btn btn-sm btn-primary"
                  ng-click="stuffStuff()">
            Zebra Locations
        </button>-->
        <div class="dropdown">
            <button style="position: absolute;top: -8%;left: 100%;"
                    class="btn btn-sm btn-primary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                View List
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-click="stuffStuff()">Map</li>
                <li ng-click="imageStuff()">Grid</li>
                <li ng-click="tableStuff()">Detail</li>
            </ul>
        </div>
        <ul ng-repeat="items in imgs" ng-hide="removeImages">
            <li id="{{$index}}">
                <div class="col-sm-3 col-lg-3" id="detail-image">
                    <img class="img-thumbnail col-sm-3 col-lg-3" style="width:180px;height:140px;padding:2px 2px; margin:3px 3px;" ng-src="{{items}}">
                    <button href="#" class="btn btn-danger" role="button" ng-click="hideStuff($index)">
                        remove
                    </button>
                </div>
            </li>
        </ul>
        <div ng-hide="hideTable">
            <table class="table table-striped">
                <tr>
                    <th>Image ID</th>
                    <th>Image</th>
                    <th>Image Name</th>
                    <th>Date</th>
                    <th>Lat Long</th>
                    <th>Additional Info</th>
                </tr>
                <tr ng-repeat="items in imgs" >
                    <td style="text-align :left;vertical-align: middle;" ><b>{{$index}}</b></td>
                    <td><img class="img-thumbnail" style="width: 125px;height: 100px;" ng-src="{{items}}"> </td>
                    <td style="text-align :left;vertical-align: middle;">Image Name</td>
                    <td style="text-align :left;vertical-align: middle;">date</td>
                    <td style="text-align :left;vertical-align: middle;">lat long</td>
                    <td style="text-align :left;vertical-align: middle;">info</td>
                </tr>
            </table>
        </div>
        
        <div id="map_content" style="display:none;">
            <div id="map" style="width: 100%; height: 465px;"></div>
        </div>
        <div id="image_content" style="display:none;">
            <div flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                <div id="drag" class="drop" flow-drop ng-class="dropClass">
                    <span class="btn btn-default"><input  flow-btn id="filesinput" type="file">Upload Image</span>
                    <span class="btn btn-default"><input  flow-btn type="file" id="directoryinput" multiple webkitdirectory>Upload Folder</span>
                    <span class="btn btn-default"><input class="btn btn-default"  type="file" accept="application/zip" id="zipinput" >Upload Zip Folder</span>
                    <b>OR</b>
                    Drag And Drop your images here
                </div>
                <br />
               <div ng-repeat="file in $flow.files" class="gallery-box">
                    <div class="thumbnail" ng-show="$flow.files.length">
                      <img flow-img="file" />
                     </div>
                <div class="btn-group">
                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                        Remove
                    </a>
                </div>
            </div>               
        </div>
        </div>
            <script type="text/javascript" src="upload.js"></script>
     </div>

</body>
</html>